In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

acc_name16 = 'new 16 labeled NEW_acelerometro_terra.csv'
gir_name16 = 'new 16 labeled NEW_giroscopio_terra.csv'

nums = [16,17,20,21]

acc_data = []
gir_data = []

for num in nums:
    data = pd.read_csv("new "+str(num)+" labeled NEW_acelerometro_terra.csv")
    data = data.drop(['Unnamed: 0','Unnamed: 0.1','Time'] ,axis=1)
    data = data.values
    for rec in data:
        if rec[3] != 0:
            acc_data.append(np.array(rec))

for num in nums:
    data = pd.read_csv("new "+str(num)+" labeled NEW_giroscopio_terra.csv")
    data = data.drop(['Unnamed: 0','Unnamed: 0.1','Time'] ,axis=1)
    data = data.values
    for rec in data:
        if rec[3] != 0:
            gir_data.append(np.array(rec))
            
acc_data = np.array(acc_data)
gir_data = np.array(gir_data)

print(acc_data.shape)
print(gir_data.shape)

(11077, 4)
(11077, 4)

In [2]:
data = np.concatenate((acc_data,gir_data),axis=1)
print(data.shape)

(11077, 8)

In [6]:
df = pd.DataFrame(data,columns = ['ax','ay','az','-','gx','gy','gz','Lebal'])
df.head(5)

         ax        ay        az    -        gx        gy        gz  Lebal
0  0.117521  0.840335  9.726693  3.0 -0.013647  0.012760  0.000465    3.0
1  0.155864  0.908074  9.679671  3.0  0.003143  0.011301 -0.014550    3.0
2  0.203948  1.110057  9.767217  3.0  0.000066  0.005377  0.006871    3.0
3  0.240043  1.115287  9.731933  3.0  0.009081 -0.004321 -0.000597    3.0
4  0.256639  1.016287  9.606055  3.0 -0.017216 -0.000897  0.014706    3.0

In [7]:
df = df.drop('-',axis=1)
df.head(5)

         ax        ay        az        gx        gy        gz  Lebal
0  0.117521  0.840335  9.726693 -0.013647  0.012760  0.000465    3.0
1  0.155864  0.908074  9.679671  0.003143  0.011301 -0.014550    3.0
2  0.203948  1.110057  9.767217  0.000066  0.005377  0.006871    3.0
3  0.240043  1.115287  9.731933  0.009081 -0.004321 -0.000597    3.0
4  0.256639  1.016287  9.606055 -0.017216 -0.000897  0.014706    3.0

In [8]:
df.to_csv('data.csv', index = False)